<article>
  <header>
    <h2><%= @album.artist %> - <%= @album.title %></h2>
  </header>

  <% if user_signed_in? %>
    <% if current_user.favorites.exists?(favoritable: @album) %>
      <%= link_to("Un fav", unfavorite_album_path(@album), method: :delete) %>
    <% else %>
      <%= link_to("Make fav", favorite_album_path(@album), method: :post) %>
    <% end %>
  <% end %>

  <p>
    Genre: <%= @album.genre %>
  </p>
    Year: <%= @album.year %>
  <p>
    Comments: <%= @album.comments %>
  </p>

  <hr>

  <% if user_signed_in? %>
  <div>
    <ul>
      <li><%= link_to "Edit", edit_album_path(@album) %></li>
      <li><%= link_to "Create Album", new_album_path %></li>
    </ul>
  </div>
  <% end %>
</article>